* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Extra Light";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

body {
  font-family: "Poppins Medium", sans-serif;
  background: #1a2933;
  color: #fff;
}

.tl-tabs {
  display: flex;
  justify-content: space-evenly;
}

.tl-tabs h3 {
  cursor: pointer;
}

.tl-tabs h3:not(.tl-active) {
  opacity: 50%;
  transition: opacity 0.6s;
}

.tl-tabs h3:hover:not(.tl-active) {
  border-bottom: 2px solid #988b8e;
  transition: border-bottom 0.1s;
}

.tl-active {
  border-bottom: 2px solid #eff8e2;
  transition: border-bottom 0.1s;
}

.tabcontent {
  animation: fadeEffect 0.6s;
}

.tabcontent:not(.active) {
  display: none;
}

/* Fade in tabs */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.f {
  margin-bottom: 40px;
}

.label.custom {
  color: #fff;
}

.input {
  background-color: transparent;
  border: 1px solid #eff8e2;
}

.input::placeholder {
  color: #eff8e2;
  opacity: 50%;
}

.help,
.file-name {
  color: #eff8e2;
}

.file-name {
  border-color: #eff8e2;
  opacity: 50%;
}

.file-cta {
  background-color: #eff8e2;
}

.custom-btn {
  background-color: #eff8e2;
}

.input {
  color: #eff8e2;
}

#fps,
#images-fps {
  width: 15%;
}

#spinner-container,
#spinner-img-container {
  position: absolute;
  width: 100%;
}

.toggle-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.toggle-content.is-visible {
  visibility: visible;
  opacity: 1;
}

.swal2-styled.swal2-confirm {
  color: #1a2933 !important;
  background-color: #eff8e2 !important;
}

/* Spinner Animation */

.spinner {
  width: 90px;
  margin: 200px auto;
  height: 90px;
  text-align: center;
  font-size: 25px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
