* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

body {
  font-family: "Poppins", sans-serif;
  background: #1a2933;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

p {
  margin-top: 1rem;
  font-size: 0.8rem;
}
