html,
body {
  height: 100%;
}

body {
  border: 2px solid #48545c;
  overflow-y: hidden;
}

#tl-titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  padding: 4px;
}

#tl-titlebar #tl-drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: auto 138px;
}

.tl-maximized #tl-titlebar {
  width: 100%;
  padding: 0;
}

#tl-main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#tl-window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-size: 12px;
}

#tl-window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.tl-maximized #tl-window-title {
  margin-left: 12px;
}

#tl-window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#tl-window-controls .tl-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

#tl-window-controls .tl-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#tl-window-controls .tl-button:active {
  background: rgba(255, 255, 255, 0.2);
}

#tl-close-button:hover {
  background: #e81123 !important;
}

#tl-close-button:active {
  background: #f1707a !important;
}

#tl-close-button:active .icon {
  filter: invert(1);
}

#tl-min-button {
  grid-column: 1;
}

#tl-max-button,
#tl-restore-button {
  grid-column: 2;
}

#tl-close-button {
  grid-column: 3;
}

#tl-restore-button {
  display: none !important;
}

.tl-maximized #tl-restore-button {
  display: flex !important;
}

.tl-maximized #tl-max-button {
  display: none;
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #tl-window-controls .tl-icon {
    width: 10px;
    height: 10px;
  }
}
